<footer class="fixed-bottom">
  <div class="container">
    <div class="row fs-1">
      <div class="col text-center">
        <a href="https://www.linkedin.com/in/lucassapucahy/"><i class="fa-brands fa-linkedin fa-bounce" style="color: #1f2951;"></i></a>
        <a href="https://github.com/lucassapucahy"><i class="fa-brands fa-github fa-bounce" style="color: #000000;"></i></a>
        <a href="https://www.instagram.com/sapucahylucas/"><i class="fa-brands fa-instagram fa-bounce" style="color: #000000;"></i></a>
        <a href="https://www.facebook.com/lucas.sapucahy.357"><i class="fa-brands fa-facebook fa-bounce" style="color: #0f2dc2;"></i></a>
      </div>
    </div>
  </div>
</footer>
