<footer>
  <div class="row g-0 fs-1">
    <div class="col text-center">
    <a href="/"><i class="fa-brands fa-linkedin fa-bounce" style="color: #1f2951; margin: 0 1rem;"></i></a>
    <a href="/"><i class="fa-brands fa-github fa-bounce" style="color: #000000; margin: 0 1rem;"></i></a>
    <a href="/"><i class="fa-brands fa-instagram fa-bounce" style="color: #000000; margin: 0 1rem;"></i></a>
    <a href="/"><i class="fa-brands fa-facebook fa-bounce" style="color: #0f2dc2; margin: 0 1rem;"></i></a>
  </div>
</div>

</footer>
