<div class="container">
  <div class="row">
    <div class="col">
      <label for="txtNome" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="txtNome" placeholder="Seu Nome">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="txtEmail" class="form-label">Email:</label>
      <input type="email" class="form-control" id="txtEmail" placeholder="nome@exemplo.com">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="txtEmpresa" class="form-label">Empresa:</label>
      <input type="text" class="form-control" id="txtEmpresa" placeholder="Nome da Empresa">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="txtCel" class="form-label">Email:</label>
      <input type="tel" class="form-control" id="txtCel" placeholder="(xx)xxxxx-xxxx">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="txtMensagem" class="form-label">Mensagem:</label>
      <textarea class="form-control" id="txtMensagem" placeholder="Sua Mensagem" rows="3"></textarea>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-lg btn-primary">Enviar</button>
    </div>
  </div>
</div>
