@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
body{
  background: url(../src/assets/Global/971.png) 100% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

*{
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body{
    background: url(../src/assets/Global/971.png) 40% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;

  }
}

@media screen and (max-width: 480px) {
  body{
    background: url(../src/assets/Global/971.png) 40% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;

  }
}
