<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-1 fs-5 fw-semibold" style="color: black; text-shadow: 2px 2px 8px #fff;">
      <p >
        Olá, eu sou Lucas, um desenvolvedor .NET com seis anos de experiência apaixonado por tecnologia. Durante minha trajetória profissional,
        tive a oportunidade de colaborar em projetos desafiadores em renomadas empresas, como XP Inc., Neon e Kroton.
      </p>
      <br>
      <p>
        Minha especialização reside no ecossistema .NET, onde me sinto em casa ao criar soluções robustas e escaláveis,
        especialmente em microserviços. Além disso, domino ferramentas essenciais, como Docker e Kubernetes, para orquestração eficiente e deployment simplificado.
        Minha familiaridade com a AWS e Terraform complementam meu arsenal de habilidades para oferecer soluções confiáveis e inovadoras.
        Atualmente avançando em estudos de GoLang
      </p>
      <br>
      <p>
        Não apenas me limito ao back-end. Possuo conhecimentos sólidos em HTML, CSS, JavaScript, TypeScript e Angular, permitindo-me trabalhar de forma integrada e colaborativa em projetos completos.
        Estou sempre buscando aprimorar minhas habilidades e aprender com cada desafio. Este portfólio é um reflexo do meu percurso profissional e da paixão que tenho por criar soluções que façam a diferença.
        Fique à vontade para explorar meus projetos e entrar em contato para discutir oportunidades de colaboração.
      </p>
    </div>
    <div class="col-md-4 offset-md-1 mt-5 pt-5">
      <img width="300px" height="300px" src="../../assets/Global/FotoPerfil.png" style="border-radius: 30%;" alt="Foto de Lucas">
    </div>
  </div>
</div>

